@use 'reset';
@use 'cards';
@use 'check';
@import 'colors';
@import 'form';



body{
  font-size: 18px;
}

// gradient

.gradient img{
  height: 30vh;
  width: 100%;
}

// main{
  
//   margin: auto;
// }

.container{
  width: 375px;
  margin: auto;
  position: relative;
}

@media (min-width:768px) {
  .container{
    max-width: 600px;
  }
  
}

@media (min-width:1440px) {


  .gradient{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vh;
    position: relative;
  }

  .gradient img{
    height: 100%;
  }
}




